# Tratar todos los archivos como texto y normalizarlos a LF al subirlos al repo
* text=auto

# Opcional: Asegurar que archivos específicos siempre sean LF (incluso en Windows)
*.sh text eol=lf
*.js text eol=lf
*.json text eol=lf

# Asegurar que los archivos batch de Windows mantengan siempre CRLF
*.bat text eol=crlf
